* {
    font-family: "Montserrat", sans-serif;
}

/* body {
    font-family: ;
} */

.logo > span {
    font-family: "Montserrat-BoldItalic", Helvetica;
    font-weight: 700;
    font-style: italic;
    letter-spacing: -0.10px;
    color: #111111;
    font-size: 18px;
}

.logo {
    font-family: "Montserrat-BoldItalic", Helvetica;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.10px;
    color: #111111;
    font-size: 18px;
}